.table-container {
    border-collapse: collapse;
    width: 90%;
}

th, td {
    padding: 8px;
    border: 1px solid grey;
}

tr:hover {
   background-color: lightblue;
   cursor: pointer;
}

tr:nth-child(even) {
    background-color: lightblue;
}